apiVersion: v1
kind: Secret
metadata:
  name: saga-orchestration-case-study-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://github.com/poc-hero/saga-orchestration-case-study.git
  password: ${GIT_TOKEN}
  username: git
